@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  padding: 0;
  margin: 0, 20px;
}
li {
  margin: 0, 30px;
  padding: 0;
  list-style: none;
}

h1,
h2 {
  font-size: 37px;
  margin-left: 20px;
}

p {
  font-size: 23px;
  margin: 0;
  margin-left: 30px;
}

.button {
  font-size: 30px;
  background-color: white;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  width: 160px;
  padding: 15px;
  text-transform: capitalize;
}
.button:active {
  background-color: rgb(67, 128, 204);
  border-color: #333;
  color: #eee;
}
